body, html
{
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: fit-content;
  min-width: 100%;
}

textarea, #settings
{
  display: flex;
  width: 100%;

  &#top
  {
    flex: 1 1 15%;
  }

  &#settings
  {
    flex: 1 1 45%;
    display: flex;
    flex-direction: column;
    width: fit-content;
  }

  &#copy_ascii
  {
    flex: 1 1 40%;
  }
}

#top
{
  display: flex;
  flex-direction: row;

  #info
  {
    padding: 43px 1rem 1rem;

    background: url(title.png) no-repeat top center;
    background-position: center 1rem;
    background-size: 200px;

    p {
      margin: 1rem 0 0;
    }
  }
}

#settings
{
  .instruct {
    margin: 1rem;
    color: var(--color-gray);
  }

  #inputs
  {
    margin: 0 1rem;

    label {
      white-space: nowrap;
    }
  }
}

textarea, #edit_ascii {
  padding: 1rem;
}

#edit_ascii
{
  display: flex;
  flex-direction: column;
  width: fit-content;

  .letter_line
  {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    width: fit-content;

    .letter
    {
      outline: 1px solid rgba(255,165,0, 0.3);
      display: inline-block;
      position: relative;

      .letter_hover
      {
        position: absolute;
        top: 0;
        left: 0;
        opacity: .1;
        min-width: 1.6rem;
        width: 100%;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .adjust_letter
        {
          width: 1.6rem;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;

          div {
            flex: 1 1 auto;
            text-align: center;
            color: var(--color-lime);

            &:hover {
              opacity: .9;
              cursor: pointer;
              color: var(--color-yellow);
            }

            &:active {
              opacity: 1;
            }
          }

          .move_up, .move_down
          {
            flex: 1 1 100%;
          }

          .move_left, .move_right
          {

          }
        }
      }

      pre.letter_ascii
      {
        margin: 0;
        padding: 0;
        font-size: 1rem;
        opacity: .9;
      }

      &:not(.not_found):hover
      {
        z-index: 1;

        .letter_hover
        {
          opacity: .9;
        }

        pre.letter_ascii
        {
          opacity: .3;
        }
      }

      &.space_char
      {
        .move_up, .move_down
        {
          display: none;
        }
      }

      &.not_found
      {
        opacity: .5;

        .letter_hover
        {
          display: none;
        }
      }
    }
  }
}
