body, html {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 14px;
  width: fit-content;
  min-width: 100%;
}

textarea, #settings {
  display: flex;
  width: 100%;
}

textarea#for_typing, #settings#for_typing {
  flex: 1 1 20%;
}

textarea#settings, #settings#settings {
  flex: 1 1 40%;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

textarea#copy_ascii, #settings#copy_ascii {
  flex: 1 1 40%;
}

textarea, #edit_ascii {
  padding: 1rem;
}

#edit_ascii {
  display: flex;
  flex-direction: column;
  width: fit-content;
  overflow-y: auto;
}

#edit_ascii .letter_line {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  outline: 1px solid rgba(255, 255, 0, 0.2);
  width: fit-content;
}

#edit_ascii .letter_line .letter {
  outline: 1px solid rgba(255, 0, 255, 0.3);
  display: inline-block;
}

#edit_ascii .letter_line .letter pre {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}
